<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>items</title>

    </head>
    <body>
       
        <h1>Options</h1>

        <ul>
            <li th:each="item : ${items}">
                <span th:text="${item.name}">item</span> (<span th:text="${item.price}">999</span>€)
                <form th:action="@{/cart/items/{id}(id=${item.id})}" th:method="POST">
                    <input type="submit" value="Add to cart"/>
                </form>
            </li>
        </ul>
        
        <form method="get" action="/done" style="width:50px;height:400px;">
            <button type="submit">Go back to add more friends. 💃 💃</button>
        </form>
    </body>
    
    
</html>
